.menu {
  &__container {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  &__headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 600px;
    max-width: 100%;
    background: url("../../dist//assets/tasteful-recipes.svg") no-repeat center;
    background-size: cover;

    h1 {
      font-family: "Herr Von Muellerhoff", cursive;
      font-weight: 500;
      color: #c59d5f;
      font-size: 6em;
      margin-left: -20px;
    }

    h2 {
      font-family: "Kumbh Sans", sans-serif;
      margin-top: -35px;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 2.5em;
      font-weight: 700;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 0;

    &__images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      &-img {
        width: 300px;
        height: 218px;

        &:hover {
          transform: scale(1.03) !important;
        }
      }
    }
    &__text {
      text-align: center;
      align-items: center;
      justify-content: center;
      max-width: 470px;
      margin-top: -3rem;
      margin-right: 15px;

      h1 {
        font-family: "Herr Von Muellerhoff", "Lucida Handwriting",
          "Brush Script MT", "Comic Sans", "Comic Sans MS", Chalkboard, cursive;
        font-size: 7em;
        font-weight: 400;
        color: #c59d5f;
        margin-right: 8px;
      }

      h2 {
        font-family: "Kumbh Sans", sans-serif;
        margin: -50px -8px 30px 0;
        letter-spacing: 10px;
        font-size: 3em;
        color: rgb(58, 57, 57);
        text-transform: uppercase;
        font-weight: 900;
      }

      p {
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        color: #515151;
        letter-spacing: 0.5px;
        line-height: 25px;
      }

      &-logo {
        margin-bottom: 20px;
        font-size: 12px;
        color: #515151;
      }

      &-link {
        margin-top: 30px;

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #c59d5f;
          font-weight: 500;
          letter-spacing: 1.5px;
          transition: border 0.1s ease;
          font-family: "Nunito", sans-serif;

          &:hover {
            padding-bottom: 2px;
            border-bottom: 2px solid #c59d5f;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    &__list {
      margin: 0 2rem;

      &__images {
        margin: 0 10px 0 -10px;

        &-img {
          max-width: 100%;
          height: inherit;
        }
      }

      &__text {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: 960px) {
    &__headline {
      height: 470px;
    }

    &__list {
      padding: 3.2rem 0;
      flex-direction: column;
      margin: 0 1rem;

      &__images {
        margin-bottom: 2rem;
        margin-right: 0;
        margin-left: 0;

        &-img {
          margin: 0;
          height: inherit;
          width: 100%;
        }
      }

      &__text {
        max-width: 100%;
        padding-top: 25px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    &__list {
      padding-bottom: 2rem;

      &__text {
        h1 {
          font-size: 5.5em;
        }
        h2 {
          font-size: 2em;
          margin-top: -40px;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    &__headline {
      height: 300px;

      h1 {
        margin-top: -10px;
      }

      h2 {
        letter-spacing: 7px;
        margin-top: -30px;
        font-size: 2em;
        letter-spacing: 7px;
      }
    }
  }
}
