@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.navbar {
  background: transparent;
  position: absolute;
  padding: 25px 0 20px 0;
  left: 0;
  right: 0;
  z-index: 9999;

  &__container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__brand {
    animation: brand 1.2s ease;
    z-index: 9999;

    &-image {
      display: flex;
    }
  }

  &__sidebar-cta {
    display: none;
    z-index: 9999;
  }

  &__menu {
    animation: items 1.2s ease;

    &__list {
      display: flex;
      list-style-type: none;

      &-items {
        margin-right: 40px;
        align-items: center;
        display: flex;

        &:nth-child(5) {
          margin-right: 0;
        }

        a {
          text-decoration: none;
          color: rgb(224, 219, 219);
          text-transform: uppercase;
          font-weight: 600;
          font-size: 14px;
          font-family: "Nunito", sans-serif;
          letter-spacing: 2px;
          transition: color 0.3s ease;

          &:hover {
            color: #c59d5f;
          }
        }
        &.active {
          margin-top: 4px;
          display: block;
          padding-bottom: 2px;
          content: "";
          border-bottom: solid 2px #c59d5f;
          cursor: pointer;
        }
      }
    }
  }

  @keyframes items {
    from {
      transform: translateY(-280px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes brand {
    from {
      transform: translateY(-280px);
    }
    to {
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 1200px) {
    &__container {
      margin: 0 2rem;
    }
  }

  @media screen and (max-width: 800px) {
    background-color: rgba(9, 20, 34, 0.9);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0;

    &__container {
      width: 100%;
      margin: 0 1.5rem;
    }

    &__sidebar-cta {
      display: block;
      outline: none;
      background: none;
      border: none;
      color: white;
      font-size: 2em;
      animation: items 1.2s ease;
      cursor: pointer;

      svg {
        display: flex;
      }
    }

    &__menu {
      background: rgba(9, 20, 34, 0.9);
      width: 100%;
      display: flex;
      justify-content: center;
      position: fixed;
      top: -0.5px;
      left: -100%;
      transition: 850ms;
      margin-top: 60px;

      &.active {
        left: 0;
        transition: 350ms;
      }

      &__list {
        flex-direction: column;
        margin: 40px 0;

        &-items {
          margin-right: 0;
          text-align: center;
          height: 100%;
          align-items: center;
          margin-bottom: 2rem;

          &:nth-child(5) {
            margin-bottom: 0;
          }

          a {
            color: white;
            font-size: 20px;
          }

          &.active {
            display: none;
          }
        }
      }
    }
  }
}
