.loading__screen {
  background: rgb(16, 19, 27);
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;

  &-img {
    animation: fade 1.2s linear;
    opacity: 1;
  }

  @keyframes fade {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.1);
      opacity: 0;
    }
  }
}
